<Configuration status="warn" packages="schednie">
    <Appenders>
        <MongoAppender name="mongo" mongoUrl="mongodb://coral:coral@localhost"
                       mongoDb="mongoAppender" mongoCollection="logs">
        </MongoAppender>
    </Appenders>
    <Loggers>
        <Root level="all" additivity="false">
            <AppenderRef ref="mongo"/>
        </Root>
    </Loggers>
</Configuration>